.nav_bar{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    
    height: 60px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.left{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.left img{
    height: 50px;

}
.left span{
    font-size: 30px;
    font-weight: 700;
    

}
.right{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.nav_bar button{
    background: transparent;
    font-size: 16px;
    color: #0b0b0c;
    border: 1px solid #7186fa;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}
.nav_bar button:hover{
    background-color: #7186fa;
    color: #fff;
}
.nav_bar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
