.nav_bar{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    
    height: 60px;
    padding-left: 4px;
    padding-right: 4px;
    
}

.left{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.left img{
    height: 50px;

}
.left span{
    font-size: 30px;
    font-weight: 700;
    

}
.right{
    display: flex;
    gap: 10px;
    align-items: center;
}
#login{
    background-color: #F4F4F4;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#login:hover{
    background-color: #33f9ff;
}
#signup{
    background-color: #F4F4F4;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#signup:hover{
    background-color: #33f9ff;
}